/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;

}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;

}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/**************************************************/
ul {
  list-style-type: none;
  padding: 0;
}

:root {
  --sky100: #e0f2fe;
  --sky200: #bae6fd;
  --sky300: #7dd3fc;
  --sky400: #38bdf8;
  --sky500: #0ea5e9;
  --sky600: #0284c7;


}


.wrapper {
  position: relative;
  display: grid;
  grid-template-rows: .2fr 1fr;
  grid-template-columns: 1fr;
}

.header {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
  margin-top: 5px;

}

.header h3 {
  font-style: italic;
  margin-bottom: 2px;
}

.main {
  grid-row: 2/3;
  grid-column: 1/2;

  align-content: center;
  justify-content: center;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: .2fr .6fr;

  gap: 10px;
  background-color: var(--sky100);
  padding: 10px;


}

.controls {
  display: grid;
  justify-content: center;
  background-color: var(--sky300);

  grid-template-columns: .4fr .2fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  justify-content: space-between;
}



button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 8px;
  border-radius: 5px;
  background-color: var(--sky100);
  margin-right: 15px;
}


button:hover {
  background-color: var(--sky400);
}

.sidebar {
  grid-row: 1/2;
  grid-column: 1/2;
  border: 1px solid black;

  display: grid;
  justify-items: start;
  padding: 10px;
}

#p1-score {
  color: green;
}

#p2-score {
  color: green;

}

.game-board {

  grid-row: 1/2;
  grid-column: 2/3;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(150px, 1fr));

  justify-items: center;
  align-items: center;

  gap: 1px;
  margin: 2px;

  background-color: black;

}


.popup {
  position: fixed;
  top: 25%;
  left: 25%;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 0 10px 2px rgba(30, 255, 41, 0.623);
  background-color: whitesmoke;

}

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}


.modal-buttons {
  display: flex;
}

.modal-buttons button {
  background-color: rgba(30, 255, 41, 0.2);
}

.info button:hover {
  background-color: rgba(30, 255, 41, 0.5);
}

.popup-header {
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 1.5rem;
}

:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 0 10px 1px rgba(30, 255, 41, 0.623);
}

::backdrop {
  background-image: linear-gradient(45deg,
      rgb(43, 255, 0),
      rgb(51, 150, 153),
      rgb(255, 165, 30),
      rgb(23, 0, 128));
  opacity: .9;
}

.space {
  position: relative;
  border: 1px solid black;
  padding: 5px;
  width: 100%;
  height: 100%;


  background-color: var(--sky200);


}

.space::after {
  content: attr(data-marker);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;


}